body {
    background-color: rgba(255,255,255, 0);
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
}

* {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
margin: 0;
}

img {
    
    pointer-events: none;
}


#result {
    position: absolute;
    width: 100%;
    max-width:870px;
    cursor: pointer;
    overflow-y: auto;
    max-height: 400px;
    box-sizing: border-box;
    z-index: 1001;
   }
.link-class:hover{
    background-color:#f1f1f1;
   }

.question-answer {
    margin-bottom: 20px;
}